appName: "Checkout Pipeline"
basePackage: "org.pipelineframework.checkout"
transport: "GRPC"
steps:
  - name: "Order Request Process"
    cardinality: "ONE_TO_MANY"
    inputTypeName: "OrderRequest"
    inputFields:
      - name: "requestId"
        type: "UUID"
        protoType: "string"
      - name: "customerId"
        type: "UUID"
        protoType: "string"
      - name: "items"
        type: "String"
        protoType: "string"
    outputTypeName: "OrderLineItem"
    outputFields:
      - name: "requestId"
        type: "UUID"
        protoType: "string"
      - name: "customerId"
        type: "UUID"
        protoType: "string"
      - name: "sku"
        type: "String"
        protoType: "string"
      - name: "quantity"
        type: "Integer"
        protoType: "int32"
  - name: "Order Create"
    cardinality: "MANY_TO_ONE"
    inputTypeName: "OrderLineItem"
    inputFields:
      - name: "requestId"
        type: "UUID"
        protoType: "string"
      - name: "customerId"
        type: "UUID"
        protoType: "string"
      - name: "sku"
        type: "String"
        protoType: "string"
      - name: "quantity"
        type: "Integer"
        protoType: "int32"
    outputTypeName: "InitialOrder"
    outputFields:
      - name: "orderId"
        type: "UUID"
        protoType: "string"
      - name: "customerId"
        type: "UUID"
        protoType: "string"
      - name: "itemCount"
        type: "Integer"
        protoType: "int32"
  - name: "Order Ready"
    cardinality: "ONE_TO_ONE"
    inputTypeName: "InitialOrder"
    inputFields:
      - name: "orderId"
        type: "UUID"
        protoType: "string"
      - name: "customerId"
        type: "UUID"
        protoType: "string"
      - name: "itemCount"
        type: "Integer"
        protoType: "int32"
    outputTypeName: "ReadyOrder"
    outputFields:
      - name: "orderId"
        type: "UUID"
        protoType: "string"
      - name: "customerId"
        type: "UUID"
        protoType: "string"
      - name: "readyAt"
        type: "Instant"
        protoType: "string"
