version: 1
layout: pipeline-runtime
validation: strict

defaults:
  runtime: payments
  module: per-step
  synthetic:
    module: plugin

runtimes:
  payments: {}
  orchestrator: {}

modules:
  input-csv-file-processing-svc:
    runtime: payments
  payments-processing-svc:
    runtime: payments
  payment-status-svc:
    runtime: payments
  output-csv-file-processing-svc:
    runtime: payments
  persistence-svc:
    runtime: payments
  orchestrator-svc:
    runtime: orchestrator

steps:
  process-folder:
    module: input-csv-file-processing-svc
  process-csv-payments-input:
    module: input-csv-file-processing-svc
  process-send-payment-record:
    module: payments-processing-svc
  process-ack-payment-sent:
    module: payments-processing-svc
  process-payment-status:
    module: payment-status-svc
  process-csv-payments-output-file:
    module: output-csv-file-processing-svc
