appName: "csv-payments"
basePackage: "org.pipelineframework.csv"
steps:
  - name: "Process Folder"
    cardinality: "EXPANSION"
    inputTypeName: "CsvFolder"
    inputFields:
      - name: "path"
        type: "Path"
        protoType: "string"
    outputTypeName: "CsvPaymentsInputFile"
    outputFields:
      - name: "id"
        type: "UUID"
        protoType: "string"
      - name: "filepath"
        type: "Path"
        protoType: "string"
      - name: "csvFolderPath"
        type: "Path"
        protoType: "string"

  - name: "Process Csv Payments Input"
    cardinality: "EXPANSION"
    inputTypeName: "CsvPaymentsInputFile"
    inputFields:
      - name: "id"
        type: "UUID"
        protoType: "string"
      - name: "filepath"
        type: "Path"
        protoType: "string"
      - name: "csvFolderPath"
        type: "Path"
        protoType: "string"
    outputTypeName: "PaymentRecord"
    outputFields:
      - name: "id"
        type: "UUID"
        protoType: "string"
      - name: "csvId"
        type: "String"
        protoType: "string"
      - name: "recipient"
        type: "String"
        protoType: "string"
      - name: "amount"
        type: "BigDecimal"
        protoType: "string"
      - name: "currency"
        type: "Currency"
        protoType: "string"
      - name: "csvPaymentsInputFilePath"
        type: "Path"
        protoType: "string"

  - name: "Process Csv Payments Input Stream"
    cardinality: "EXPANSION"
    inputTypeName: "CsvPaymentsInputStream"
    inputFields:
      - name: "source"
        type: "String"
        protoType: "string"
    outputTypeName: "PaymentRecord"
    outputFields:
      - name: "id"
        type: "UUID"
        protoType: "string"
      - name: "csvId"
        type: "String"
        protoType: "string"
      - name: "recipient"
        type: "String"
        protoType: "string"
      - name: "amount"
        type: "BigDecimal"
        protoType: "string"
      - name: "currency"
        type: "Currency"
        protoType: "string"
      - name: "csvPaymentsInputFilePath"
        type: "Path"
        protoType: "string"

  - name: "Process Send Payment Record"
    cardinality: "ONE_TO_ONE"
    inputTypeName: "PaymentRecord"
    inputFields:
      - name: "id"
        type: "UUID"
        protoType: "string"
      - name: "csvId"
        type: "String"
        protoType: "string"
      - name: "recipient"
        type: "String"
        protoType: "string"
      - name: "amount"
        type: "BigDecimal"
        protoType: "string"
      - name: "currency"
        type: "Currency"
        protoType: "string"
      - name: "csvPaymentsInputFilePath"
        type: "Path"
        protoType: "string"
    outputTypeName: "AckPaymentSent"
    outputFields:
      - name: "id"
        type: "UUID"
        protoType: "string"
      - name: "conversationId"
        type: "UUID"
        protoType: "string"
      - name: "status"
        type: "Long"
        protoType: "int64"
      - name: "message"
        type: "String"
        protoType: "string"
      - name: "paymentRecordId"
        type: "UUID"
        protoType: "string"
      - name: "paymentRecord"
        type: "PaymentRecord"
        protoType: "PaymentRecord"

  - name: "Process Ack Payment Sent"
    cardinality: "ONE_TO_ONE"
    inputTypeName: "AckPaymentSent"
    inputFields:
      - name: "id"
        type: "UUID"
        protoType: "string"
      - name: "conversationId"
        type: "UUID"
        protoType: "string"
      - name: "status"
        type: "Long"
        protoType: "int64"
      - name: "message"
        type: "String"
        protoType: "string"
      - name: "paymentRecordId"
        type: "UUID"
        protoType: "string"
      - name: "paymentRecord"
        type: "PaymentRecord"
        protoType: "PaymentRecord"
    outputTypeName: "PaymentStatus"
    outputFields:
      - name: "id"
        type: "UUID"
        protoType: "string"
      - name: "reference"
        type: "String"
        protoType: "string"
      - name: "status"
        type: "String"
        protoType: "string"
      - name: "message"
        type: "String"
        protoType: "string"
      - name: "fee"
        type: "BigDecimal"
        protoType: "string"
      - name: "ackPaymentSentId"
        type: "UUID"
        protoType: "string"
      - name: "ackPaymentSent"
        type: "AckPaymentSent"
        protoType: "AckPaymentSent"

  - name: "Process Payment Status"
    cardinality: "ONE_TO_ONE"
    inputTypeName: "PaymentStatus"
    inputFields:
      - name: "id"
        type: "UUID"
        protoType: "string"
      - name: "reference"
        type: "String"
        protoType: "string"
      - name: "status"
        type: "String"
        protoType: "string"
      - name: "message"
        type: "String"
        protoType: "string"
      - name: "fee"
        type: "BigDecimal"
        protoType: "string"
      - name: "ackPaymentSentId"
        type: "UUID"
        protoType: "string"
      - name: "ackPaymentSent"
        type: "AckPaymentSent"
        protoType: "AckPaymentSent"
    outputTypeName: "PaymentOutput"
    outputFields:
      - name: "id"
        type: "UUID"
        protoType: "string"
      - name: "csvPaymentsOutputFilename"
        type: "String"
        protoType: "string"
      - name: "csvId"
        type: "String"
        protoType: "string"
      - name: "recipient"
        type: "String"
        protoType: "string"
      - name: "amount"
        type: "BigDecimal"
        protoType: "string"
      - name: "currency"
        type: "Currency"
        protoType: "string"
      - name: "conversationId"
        type: "UUID"
        protoType: "string"
      - name: "status"
        type: "Long"
        protoType: "int64"
      - name: "message"
        type: "String"
        protoType: "string"
      - name: "fee"
        type: "BigDecimal"
        protoType: "string"
      - name: "paymentStatus"
        type: "PaymentStatus"
        protoType: "PaymentStatus"

  - name: "Process Csv Payments Output File"
    cardinality: "MANY_TO_MANY"
    inputTypeName: "PaymentOutput"
    inputFields:
      - name: "id"
        type: "UUID"
        protoType: "string"
      - name: "csvPaymentsOutputFilename"
        type: "String"
        protoType: "string"
      - name: "csvId"
        type: "String"
        protoType: "string"
      - name: "recipient"
        type: "String"
        protoType: "string"
      - name: "amount"
        type: "BigDecimal"
        protoType: "string"
      - name: "currency"
        type: "Currency"
        protoType: "string"
      - name: "conversationId"
        type: "UUID"
        protoType: "string"
      - name: "status"
        type: "Long"
        protoType: "int64"
      - name: "message"
        type: "String"
        protoType: "string"
      - name: "fee"
        type: "BigDecimal"
        protoType: "string"
      - name: "paymentStatus"
        type: "PaymentStatus"
        protoType: "PaymentStatus"
    outputTypeName: "CsvPaymentsOutputFile"
    outputFields:
      - name: "id"
        type: "UUID"
        protoType: "string"
      - name: "filepath"
        type: "Path"
        protoType: "string"
      - name: "csvFolderPath"
        type: "Path"
        protoType: "string"
